.bkant{
    font-family:'BKANT';
    font-weight: bold;
}
.colorw{
    color: white;
}
.bgdark{
    background-color: black;
}

.bgback{
    background-color: transparent;
}
.bg-beautrest{
    background-color: #171652;
}




